<mat-card class="card-card" *ngIf="card$ | async as card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.set}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="card.png" [alt]="card.name" class="card-card--image" />
  <mat-card-content>
    <!-- Power and Toughness -->
    <div *ngIf="card.power != null && card.toughness != null">
      <h3>Power / Toughness</h3>
      <p>{{card.power}} / {{card.toughness}}</p>
    </div>

    <!-- Card Type -->
    <h3>Card Type</h3>
    <p>{{card.card_type}}</p>

    <!-- Description -->
    <h3>Description</h3>
    <p *ngFor="let text of card.card_text | cardTextTransform" [innerHTML]="text"></p>
  </mat-card-content>
</mat-card>
