<mat-toolbar color="primary">
  <mat-icon (click)="sidenavOpened = !sidenavOpened"
            aria-hidden="false"
            aria-label="menu icon">menu</mat-icon>
  <h1 class="u-padding-left-16">Three More Mana</h1>
  <span class="main--fill-middle"></span>
  <button mat-button type="button" *ngIf="!auth.loggedIn" (click)="auth.login()">Sign In</button>
  <button mat-button type="button" *ngIf="auth.loggedIn" (click)="auth.logout()">Sign Out</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="main--sidenav"
               [opened]="sidenavOpened"
               (openedChange)="sidenavOpened = $event">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/cards']">
        <mat-icon matListIcon>list</mat-icon>
        <span matLine>Cards</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main--content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
